body {
    background-color: hsl(218, 23%, 16%) !important;
}

.card {
    background-color: hsl(217, 19%, 24%) !important;
}

.card-body p{
    color: hsl(193, 38%, 86%);
}

.card-body h5 {
    color: hsl(150, 100%, 66%);
    font-size: .8rem;
    margin-bottom: 3.125rem;
}

button {
    width: 75px;
    height: 75px;
    border: none;
    background-color: hsl(150, 100%, 66%);
    top: 100;
   transform: translateY(3.125rem);
}